
.contenedor-producto{
	//display:flex;
	color: $template-color-text;
	border-radius: 10px;
	margin-bottom: 10px;
	&:hover{
		//background: $template-color;
		color: $template-hover-text;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	& >a{
		color: $template-hover-text;
		&:hover{
			background: $template-color;
			color: $template-hover-text;
		}

	}

}

.producto-img{
	height: 204px;
	width: 100%;
}
.image-box{
	border-radius: 2px;
	height: 204px;
	width: 225px;
}
.producto-titulo{
	background-color: $template-grid-color;
	text-align: center;
}
.producto-prop{
	height: 100px;
	background-color: $template-grid-color;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	white-space: pre-line;
	word-wrap: break-word;
	overflow:hidden;
	& li{
		list-style:none;
		margin-left:-15px;	
	}
}
.search{
	margin-bottom: 20px;
}
.k-textbox{
	position: static;
}
.navarticulos{
	margin-bottom : 15px;
}
