{% extends "layout.html" %}
{% load static from staticfiles %}
{% block subtitle %}
/ Contratos
{% endblock subtitle %}

{% block extracss %}

{% endblock extracss %}

{% block content %}

<div class='ed-container'>
	<div class="ed-item k-block">
		<table width="100%" border="0 solid black" class="">
		<caption><h2>Contratos</h2></caption>
		<thead>
			<tr>
				<th></th>
				<th class="basico">basico</th>
				<th class="plus">plus</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row-color">
				<td>Plomeria</td>
				<td class="centrar-td">
						<span class="icon-aceptar"> </span>	
					
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr>
				<td>Electricidad</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr class="row-color">
				<td>Gas</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr>
				<td>Cerrajeraria</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr class="row-color">
				<td>Vidrieria</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr>
				<td>Carpinteria</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr class="row-color">
				<td>Pintura</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr>
				<td>Aire Acondicionado</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr class="row-color">
				<td>Herreria y Canceleria</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr>
				<td>Automovil</td>
				<td class="centrar-td">
					<span class="icon-cerrar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr class="row-color">
				<td>Soportes y Antenas para TV</td>
				<td class="centrar-td">
					<span class="icon-cerrar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr>
				<td>Caja de valores</td>
				<td class="centrar-td">
					<span class="icon-cerrar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr class="row-color">
				<td>Impermeabilizacion</td>
				<td class="centrar-td">
					<span class="icon-cerrar"> </span>
				</td>
				<td class="centrar-td">
					<span class="icon-aceptar"> </span>
				</td>
			</tr>
			<tr style="background-color:#C9EBBE;">
				<td>Selecciona tu contrato</td>
				<td class="centrar-td"><a class="button btn-contrato" href="http://susiservicios.com/assets/pdf/contratobasico.pdf" title="Basico">
			Basico
					</a>
				</td>
				<td class="centrar-td" >
					<a class="button btn-contrato" href="http://susiservicios.com/assets/pdf/contratoplus.pdf" title="plus">Plus</a>
				</td>
			</tr>
		</tbody>

		</table>
	</div>
	<div class="ed-item justify">
			<p>
				<span class="app-resaltar">Otros servicios:</span> construcción, mantenimiento, fumigación y limpieza de casa, jardín u oficina; mudanzas, limpieza de alfombras, mantenimiento y reparación de equipo de computo, aparatos electrodomésticos, renta de mobiliario y equipo para fiestas y eventos, etc. Además: asesorías sin costo para construcción y mantenimiento de obras y cualquier otro servicio más que pueda necesitar ¡al mejor precio!
			</p>
			<br>
	</div>
	<div class="ed-item">
		<span>Deseas conocer mas sobre nuestra Poliza, hechale un vistazo a nuestro contrato, incluso puedes prellenarlo y acurdir con nosotros para agilizar tu tramite.
		 </span>
	</div>
	
</div>

{% endblock content %}
{% block extrajs %}

{% endblock extrajs %}